#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /* margin-top: 60px; */
}

* {
    margin: 0;
    padding: 0;
}

nav {
    /* margin: auto; */
    text-align: center;
    width: 100%;
    font-family: arial;
}

nav ul {
    background: #37988e;
    padding: 0 16px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: #f3d5dc;
}

nav ul li:hover a {
    color: #000;
}

nav ul li a {
    display: block;
    padding: 25px;
    color: #fff;
    text-decoration: none;
}